.gallery {
    margin-top: 57px;
    padding: 0 0 370px 0;
    @media(max-width: $breakpoint-575) {
        padding: 0 0 100px 0;
    }
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        @media(max-width: $breakpoint-1199) {
            padding: 0 20px;

        }
    }

    &__title {
    }

    &__text {
        @include adaptiv-size('font-size', 21, 12);
        color: $gray-900;
        letter-spacing: -0.04em;
        margin-top: 50px;
        text-indent: 35px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 310px 377px 326px;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 100px;
        @media(max-width: $breakpoint-1199) {
            justify-content: space-evenly;
            grid-template-columns: 210px 270px 230px;
        }
        @media(max-width: $breakpoint-767) {
            justify-content: space-evenly;
            grid-template-columns: repeat(2, 50%);
        }
        @media(max-width: $breakpoint-575) {
            grid-template-columns: 100%;
            gap: 10px;
            margin-top: 50px;
        }
    }

    &__grid-subwrapper {
        @media(max-width: $breakpoint-1199) {
            justify-self: center;
        }
    }

    &__img {
        @media(max-width: $breakpoint-575) {
            width: 300px !important;
            
            
        }
        &_1 {
            margin-bottom: 75px;
            @media(max-width: $breakpoint-1199) {
                @include adaptiv-size('width', 309, 150);
                justify-self: center;
            }
            @media(max-width: $breakpoint-575) {
                margin-bottom: 10px;
                
            }
        }
        &_2 {
            @media(max-width: $breakpoint-1199) {
                @include adaptiv-size('width', 309, 150);
                justify-self: center;

            }
        }
        &_3 {
            @media(max-width: $breakpoint-1199) {
                @include adaptiv-size('width', 377, 180);
                justify-self: center;

            }
        }
        &_4 {
            @media(max-width: $breakpoint-1199) {
                @include adaptiv-size('width', 326, 160);
                justify-self: center;
            }
            @media(max-width: $breakpoint-767) {
                grid-column-start: 2;
                grid-column-end: 3;
                margin-top: -50px;
            }
            @media(max-width: $breakpoint-575) {
                grid-column-start: 1;
                grid-column-end: 2;
                margin-top: 0;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;        
        }
    }
}
